<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Маркетплейс</title>

        <style type="text/css">
            html {
                width: 100%;
            }

            body {
                width: 100%;
                font-family: Arial;
                font-size: 14px;
                background-color: #fff;
                color: #333;
            }
        </style>
    </head>

    <body>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td><h1>Подтверждение заказа</h1></td>
            </tr>

            <tr>
                <td>
                    <h3>Подробности</h3>

                    <b>Имя:</b> {{ order.first_name }} {{ order.last_name }}<br>
                    <b>Адрес:</b> {{ order.address }}<br>
                    <b>Населенный пункт и индекс:</b> {{ order.place }} {{ order.zipcode }}<br>
                    <b>E-почта:</b> {{ order.email }}<br>
                    <b>Телефон:</b> {{ order.phone }}
                </td>
            </tr>

            <tr>
                <td>
                    <h3>Товары</h3>

                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><b>Товар</b></td>
                            <td><b>Цена</b></td>
                            <td><b>Количество</b></td>
                            <td><b>Итого</b></td>
                        </tr>

                        {% for item in order.items.all %}
                            <tr>
                                <td>{{ item.product.title }}</td>
                                <td>{{ item.product.price }} руб.</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.get_total_price }} руб.</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>